<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                <form class="comment-form">
                    <div class="p-2">
                        <textarea name="comment-body" class="form-control ml-1 shadow-none textarea"></textarea>
                    </div>
                    <div class="mt-2 text-right"><button class="btn btn-dark btn-sm shadow-none" type="submit">Create
                            Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>