<div class="w-50 mx-auto mt-3 card-body border">
  <blockquote class="blockquote mb-0">
    <cite title="Source Title">Dude, check out my new TV</cite>
    <div class="d-flex flex-row justify-content-between">
      <p>So sick I got it Barnes and Noble</p>
      <img data-ils="2" jsaction="rcuQ6b:trigger.M8vzZb;" class="s0Fsx eKtPwd" alt="" width="144" height="144"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGlNZ8r28LpDsbpoNAFJWX_U0wySymn00RRympFMVRTi2NteNdgHIbyGG1ppkUP07ASDfqeSHk&amp;usqp=CAc">
    </div>
  </blockquote>
  <footer class="blockquote-footer">TVGuru420</footer>
  <button type="button" class="btn btn-sm">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square"
      viewBox="0 0 16 16">
      <path
        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg>
  </button>
</div>

<div class="w-50 mx-auto mt-3 card-body border">
  <blockquote class="blockquote mb-0">
    <cite title="Source Title">TV Heckler</cite>
    <div class="d-flex flex-row justify-content-between">
      <p>Your TV sucks man</p>
    </div>
  </blockquote>
  <footer class="blockquote-footer">TVHeckler</footer>
  <button type="button" class="btn btn-sm">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square"
      viewBox="0 0 16 16">
      <path
        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg>
  </button>
</div>