  <div class="w-50 mx-auto mt-3 card-body border">
    <blockquote class="blockquote mb-0">
      <cite title="Source Title">Best TV Website Ever</cite>
      <p>I've never seen a TV before!</p>
      <footer class="blockquote-footer">The TV Guru</footer>
    </blockquote>
  </div>
